body {
	padding-top:50px;
},
#todo-list {
	margin-bottom: 30px; 
}
.line-thorugh {
	color:black;
	text-decoration:line-through;
	-webkit-text-fill-color: darkgrey;
}
a.disabled {
    color: #888;
}
.disabled {
    pointer-events: none;
    cursor: default;
}

.enabled {
    pointer-events: visible;
    cursor: auto;
}